.board{
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(8,1fr);
  border: solid black 1px;
  margin-left: auto;
  margin-right: auto;
}


.white-cell{
  background-color: /*rgb(189, 177, 185)*/#ffce9e;
  width: 100%;
  height: 100%;
  border: solid  1px;
}
.black-cell{
  width: 100%;
  height: 100%;
  background-color: /*#966F33*/#d18b47;
}
.selected{
  width: 100%;
  height: 100%;
  background-color: rgb(109, 131, 109);
  opacity: 80%;
}
.possible-move{
  width: 100%;
  height: 100%;
  background-color:green;
  opacity: 80%;
}
.check{
  width: 100%;
  height: 100%;
  background-color:red;
  opacity: 80%;
}
.BK{
  background-image: url("./pieces/BK.svg");
  background-size: cover;
}
.BQ{
  background-image: url("./pieces/BQ.svg");
  background-size: cover;
}
.BR{
  background-image: url("./pieces/BR.svg");
  background-size: cover;
}
.BB{
  background-image: url("./pieces/BB.svg");
  background-size: cover;
}
.BN{
  background-image: url("./pieces/BN.svg");
  background-size: cover;
}
.BP{
  background-image: url("./pieces/BP.svg");
  background-size: cover;
}
.WK{
  background-image: url("./pieces/WK.svg");
  background-size: cover;
}
.WQ{
  background-image: url("./pieces/WQ.svg");
  background-size: cover;
}
.WR{
  background-image: url("./pieces/WR.svg");
  background-size: cover;
}
.WB{
  background-image: url("./pieces/WB.svg");
  background-size: cover;
}
.WN{
  background-image: url("./pieces/WN.svg");
  background-size: cover;
}
.WP{
  background-image: url("./pieces/WP.svg");
  background-size: cover;
}